body {
	background-color: red
}

h1 {
color: white;
font-size: 48px
}

.myHeading {
	color: blue
}


		<link rel="apple-touch-icon" sizes="57x57" href="/xapple-icon-57x57.png.pagespeed.ic.dwDaM5FMLP.webp">
		<link rel="apple-touch-icon" sizes="60x60" href="/xapple-icon-60x60.png.pagespeed.ic.7DHqp1x-cu.webp">
		<link rel="apple-touch-icon" sizes="72x72" href="/xapple-icon-72x72.png.pagespeed.ic.hQ3ZrTjeXs.webp">
		<link rel="apple-touch-icon" sizes="76x76" href="/xapple-icon-76x76.png.pagespeed.ic.so0fmpM-Pr.webp">
		<link rel="apple-touch-icon" sizes="114x114" href="/xapple-icon-114x114.png.pagespeed.ic.cnSG0sxtT5.webp">
		<link rel="apple-touch-icon" sizes="120x120" href="/xapple-icon-120x120.png.pagespeed.ic.3tDAoRpYLr.webp">
		<link rel="apple-touch-icon" sizes="144x144" href="/xapple-icon-144x144.png.pagespeed.ic.KRNi61W472.webp">
		<link rel="apple-touch-icon" sizes="152x152" href="/xapple-icon-152x152.png.pagespeed.ic.sBfetMuIxr.webp">
		<link rel="apple-touch-icon" sizes="180x180" href="/xapple-icon-180x180.png.pagespeed.ic.96qv_hEOj5.webp">
		<link rel="icon" type="image/png" sizes="192x192" href="/xandroid-icon-192x192.png.pagespeed.ic.PwOroNyzdJ.webp">
		<link rel="icon" type="image/png" sizes="32x32" href="/xfavicon-32x32.png.pagespeed.ic.hqlIzYP-r1.webp">
		<link rel="icon" type="image/png" sizes="96x96" href="/xfavicon-96x96.png.pagespeed.ic.CfDi7Dtg0D.webp">
		<link rel="icon" type="image/png" sizes="16x16" href="/xfavicon-16x16.png.pagespeed.ic.2bcQKDj0gf.webp">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

